@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    background: #1d1d1d;
    
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img{
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    position: relative;
    text-decoration: none;
    display: block;
    color: #E8A87C;
    font-size: 18px;
    font-weight: 200;
    margin-left: 25px;
    transition: all 0.3s ease;
}

.navbar .menu li a:hover{
    transform: scale(1.1);
}

.navbar .menu li a:hover::after{
    content: "";
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 0;
    border: 1px solid #E8A87C;
}

/* Menu-Btn styling */

.menu-btn {
    color: #E8A87C;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu-btn:hover {
    transform: scale(1.05);
}

/* Home section styling */

.home {
    display: flex;
    height: 100vh;
    background: url("images/background.jpeg") center;
    color: #E8A87C;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}


.home .home-content .text-1 {
    font-size: 75px;
    font-weight: 600;
}


/* Section Styling */

section {
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

section .title:hover {
    transform: scale(1.05);
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

section .title:hover::after {
    transform: scale(1.05);
}

/* About section styling */
.about{
    background-color: #1d1d1d;
}


.about .title{
    color: #E8A87C;
}

.about .title::before{
    background: #E8A87C;
}

.about .title::after{
    color: #E8A87C;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.about .about-content:hover{
    transform: scale(1.05);
}


.about .about-content p {
    color: whitesmoke;
    margin: 5%;
    text-align: justify;
    font-weight: 200;
}

/* Scholarship section styling */

.scholarship{
    background-color: #E8A87C;
}

.scholarship .title{
    color: #1d1d1d;
}

.scholarship .title::before{
    background: #1d1d1d;
}

.scholarship .title::after{
    color: #E8A87C;
}

.scholarship .scholarship-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    color: #1d1d1d;
    margin: 5%;
    text-align: justify;
    font-weight: 200;
}

.scholarship .scholarship-content p{
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0 20px 0;
    transition: all 0.3s ease;
}

.scholarship .scholarship-content p:hover{
    transform: scale(1.05);
}

.scholarship .scholarship-content .bullet{
    display:list-item;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0 10px 0;
    transition: all 0.3s ease;
    width: 100%;
}

.scholarship .scholarship-content .bullet:hover{
    transform: scale(1.07);
}

.scholarship .scholarship-content .point{
    font-size: 20px;
    font-weight: 300;
    display:flex;
    padding: 10px 0 10px 0;
    transition: all 0.3s ease;
    width: 100%;
}

.scholarship .scholarship-content .point span{
    font-size: 22px;
    font-weight: 400;
    padding-right: 5px;
}

.scholarship .scholarship-content .point:hover{
    transform: scale(1.07);
}

.scholarship .scholarship-content a {
    display: inline-block;
    color: #1d1d1d;
    margin-left: 43%;
    background: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1d1d1d;
    transition: all 0.3s ease;
}

.scholarship .scholarship-content a:hover {
    background: #1d1d1d;
    transform: scale(1.05);
    color: #E8A87C;
}

/* Adopt-A-Career section styling */

.adopt-a-career{
    background-color: #1d1d1d;
}

.adopt-a-career .title{
    color: #E8A87C;
}

.adopt-a-career .title::before{
    background: #E8A87C;
}

.adopt-a-career .title::after{
    color: #E8A87C;
}

.adopt-a-career .adopt-a-career-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.3s ease;
}


.adopt-a-career .adopt-a-career-content p {
    color: whitesmoke;
    margin: 5%;
    text-align: justify;
    font-weight: 200;
    transition: all 0.3s ease;
}

.adopt-a-career .adopt-a-career-content p:hover{
    transform: scale(1.05);
}

.adopt-a-career .adopt-a-career-content .point{
    width: 30%;
    display: inline-block;
    color: whitesmoke;
    font-weight: 200;
    transition: all 0.3s ease;
}

.adopt-a-career .adopt-a-career-content .point:hover{
    transform: scale(1.1);
}

.adopt-a-career .adopt-a-career-content .one{
    padding-left: 5%;
}

.adopt-a-career .adopt-a-career-content .three{
    padding-right: 5%;
}

.adopt-a-career .adopt-a-career-content .point span{
    color: #E8A87C;
}

/* Samaj section styling */

.samajh{
    background: #E8A87C;
    font-family: 'Poppins', sans-serif;
}

.samajh .title{
    color: #1d1d1d;
}

.samajh .title::before{
    background: #1d1d1d;
}

.samajh .title::after{
    color: #1d1d1d;
}

.samajh .samajh-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.samajh .samajh-content:hover{
    transform: scale(1.05);
}


.samajh .samajh-content p {
    color: #1d1d1d;
    margin: 5%;
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
}

/* Get Invloved section styling */

.get-invloved{
    background: #1d1d1d;
}

.get-invloved .title{
    color: #E8A87C;
}

.get-invloved .title::before{
    background: #E8A87C;
}

.get-invloved .title::after{
    color: #E8A87C;
}

.get-invloved .get-invloved-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.get-invloved .get-invloved-content .column{
    width: 50%;
    padding: 5%;
    text-align: justify;
    transition: all 0.3s ease;
}

.get-invloved .get-invloved-content .column:hover{
    transform: scale(1.05);
}

.get-invloved .get-invloved-content .column .text{
    padding-bottom: 2%;
    font-size: 30px;
    font-weight: 500;
    color: #E8A87C;
}

.get-invloved .get-invloved-content .column p {
    font-weight: 200;
    color: whitesmoke;
}

/* Contact Us section styling */
.contact-us{
    background: #E8A87C;
}

.contact-us .title{
    color: #1d1d1d;
}

.contact-us .title::before{
    background: #1d1d1d;
}

.contact-us .title::after{
    color: #1d1d1d;
}

.contact-us .contact-us-content .card{
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
    color: #1d1d1d;
    transition: all 0.3s ease;
}

.contact-us .contact-us-content .card .fa{
    color: #1d1d1d;
}

.contact-us .contact-us-content .card:hover{
    transform: scale(1.1);
}

/* Footer section stlyling */

footer {
    text-align: center;
    background: #1d1d1d;
    color: #E8A87C;
    padding: 20px 23px;
    font-family: 'Poppins', sans-serif;
}

footer a{
    transition: all 0.3s ease;
}

footer .fa{
    font-size: 20px;
    color: #E8A87C;
}

footer a:hover{
    transform: scale(1.2);
}


/* Responsive Media Query */

@media(max-width: 1100px) {
    .max-width {
        padding: 0 50px;
        max-width: 800px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .scholarship .scholarship-content a{
        margin-left: 39%;
    }
}

@media(max-width: 700px) {
    .scholarship .scholarship-content a{
        margin-left: 35%;
    }
    .home .home-content .text-1 {
        font-size: 65px;
    }
    .about .about-content{
        font-size: 15px;
        text-align: left;
    }
    .scholarship .scholarship-content p{
        font-size: 15px;
    }
    .scholarship .scholarship-content .bullet{
        font-size: 13px;
    }
    .scholarship .scholarship-content .point{
        font-size: 13px;
    }
    .adopt-a-career .adopt-a-career-content p{
        font-size: 15px;
    }
    .adopt-a-career .adopt-a-career-content .point{
        width: 100%;
        padding: 2% 5% 2% 5%;
    }

    .samajh .samajh-content{
        font-size: 15px;
    }

    .get-invloved .get-invloved-content .column{
        width: 100%;
    }

    .get-invloved .get-invloved-content .column p{
        font-size: 15px;
    }
    .contact-us .contact-us-content .card{
        margin-left: 40%;
        margin-right: 40%;
    }
}