@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* NavBar styling */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    background: #1d1d1d;
    
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img{
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    position: relative;
    text-decoration: none;
    display: block;
    color: #E8A87C;
    font-size: 18px;
    font-weight: 200;
    margin-left: 25px;
    transition: all 0.3s ease;
}

.navbar .menu li a:hover{
    transform: scale(1.1);
}

.navbar .menu li a:hover::after{
    content: "";
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 0;
    border: 1px solid #E8A87C;
}

/* Home section styling */

.home {
    display: flex;
    height: 100vh;
    background: url("images/background.jpeg") center;
    color: #E8A87C;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}


.home .home-content .text-1 {
    font-size: 75px;
    font-weight: 600;
}


/* Section Styling */

section {
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
    /* background: url("images/background.jpeg") center; */
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

section .title:hover {
    transform: scale(1.05);
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

section .title:hover::after {
    transform: scale(1.05);
}

/* About section styling */
.about{
    background-color: #1d1d1d;
}

.about .title{
    color: #E8A87C;
}

.about .title::before{
    background: #E8A87C;
}

.about .title::after{
    color: #E8A87C;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.about .about-content:hover{
    transform: scale(1.05);
}


.about .about-content p {
    color: whitesmoke;
    margin: 5%;
    text-align: justify;
    font-weight: 200;
}


/* Samaj section styling */

.samaj{
    background: #E8A87C;
}

.samaj .title{
    color: #1d1d1d;
}

.samaj .title::before{
    background: #1d1d1d;
}

.samaj .title::after{
    color: #1d1d1d;
}

.samaj .samaj-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.samaj .samaj-content:hover{
    transform: scale(1.05);
}


.samaj .samaj-content p {
    color: #1d1d1d;
    margin: 5%;
    text-align: justify;
    font-weight: 200;
}

/* Adopt-A-Career section styling */

.adopt-a-career{
    background-color: #1d1d1d;
}

.adopt-a-career .title{
    color: #E8A87C;
}

.adopt-a-career .title::before{
    background: #E8A87C;
}

.adopt-a-career .title::after{
    color: #E8A87C;
}

.adopt-a-career .adopt-a-career-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.3s ease;
}


.adopt-a-career .adopt-a-career-content p {
    color: whitesmoke;
    margin: 5%;
    text-align: justify;
    font-weight: 200;
    transition: all 0.3s ease;
}

.adopt-a-career .adopt-a-career-content p:hover{
    transform: scale(1.05);
}

.adopt-a-career .adopt-a-career-content .point{
    width: 30%;
    display: inline-block;
    color: whitesmoke;
    font-weight: 200;
    transition: all 0.3s ease;
}

.adopt-a-career .adopt-a-career-content .point:hover{
    transform: scale(1.1);
}

.adopt-a-career .adopt-a-career-content .one{
    padding-left: 5%;
}

.adopt-a-career .adopt-a-career-content .three{
    padding-right: 5%;
}

.adopt-a-career .adopt-a-career-content .point span{
    color: #E8A87C;
}

/* Samaj section styling */

.get-invloved{
    background: #E8A87C;
}

.get-invloved .title{
    color: #1d1d1d;
}

.get-invloved .title::before{
    background: #1d1d1d;
}

.get-invloved .title::after{
    color: #1d1d1d;
}

.get-invloved .get-invloved-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.get-invloved .get-invloved-content .column{
    width: 50%;
    padding: 5%;
    text-align: justify;
    color: #1d1d1d;
    transition: all 0.3s ease;
}

.get-invloved .get-invloved-content .column:hover{
    transform: scale(1.05);
}

.get-invloved .get-invloved-content .column .text{
    padding-bottom: 2%;
    font-size: 30px;
    font-weight: 500;
}

.get-invloved .get-invloved-content .column p {
    font-weight: 200;
}
